{% extends 'base.html' %}
{% block title %}
about{% endblock title %}


{% block content %}

    <div style="background-image:url('https://img.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6363.jpg');

    height:600px;
    background-repeat:no-repeat;
    background-size: cover">
    <h2 class="text-center">About Us</h2>



    <p text-center>ABC hospital  provides patient care and treatment for a wide range of medical conditions.ABC Hospitals typically have a team of healthcare professionals, including doctors, nurses, and support staff, who work together to diagnose and treat patients.

       ABC Hospitals can be general or specialized, depending on the type of care they provide. General hospitals offer a range of medical services, including surgery, emergency care, and inpatient and outpatient care. Specialized hospitals may focus on specific medical areas, such as pediatrics, mental health, or rehabilitation.
        
        In a hospital, patients may stay overnight in a private or shared room, or they may be treated on an outpatient basis and go home the same day. ABC Hospitals also often have specialized units, such as intensive care units (ICUs) for critically ill patients and operating rooms for surgical procedures.
        
        ABC Hospitals play a vital role in the healthcare system by providing medical care to those who are sick or injured. They are often equipped with advanced medical technology and have access to a wide range of medical specialists, making them an important resource for patients in need of complex or specialized medical care.</p>


</div>{% endblock content %}